body {
  overflow:hidden;
  margin: 0px;
}

.Footer {
  background: #C09F80;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color:white;
  font-weight: bold;
  line-height: 200%;
  min-height: 30px;
  padding-left: 15px;
}

.App {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
